@{
    ViewBag.Title = "Home Page";
}

<!-- Off-Canvas Wrapper-->
<div class="offcanvas-wrapper">
    <!-- Page Content-->
    <!-- Hero-->
    <!-- Video Carousel-->
    <!-- Services-->
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="~/Scripts/vendor.min.js"></script>
    <script src="~/Scripts/scripts.min.js"></script>
</div>